html {
  scroll-behavior: smooth;
}

body {
  margin: 0%;
  padding: 0%;
  background-image: url(../Image/paper.jpg);
}

@media screen and (max-width: 600px) {
  body {
    background-repeat: repeat-y;
  }
}

a {
  text-decoration: none;
}

header ul {
  margin: 4% 0% 0 30%;
  padding: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 100;
}

@media screen and (max-width: 600px) {
  header ul {
    display: block;
    margin: 25% 0 0 0;
    position: fixed;
  }
}

header ul a {
  text-decoration: none;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header ul a:hover {
  color: black;
}

header ul li {
  display: inline-block;
  margin: auto;
  padding: 3% 7%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: black;
  font-family: "Gentium Book Basic", serif;
  font-size: 2em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 600px) {
  header ul li {
    width: 120%;
    font-size: 1.8em;
    display: block;
    padding: 10% 5%;
    margin: 0% 0 0 5%;
    text-align: center;
  }
}

header ul li:hover {
  background-color: #0084ff;
}

header ul .here {
  background-color: #be00be;
}

header ul .here a {
  color: black;
}

header ul .here:hover {
  background-color: #0084ff;
}

.pics .juroSunset {
  margin: 12% 0 0 6%;
  padding: 0%;
  position: absolute;
  width: 27%;
  z-index: 9;
}

@media screen and (max-width: 600px) {
  .pics .juroSunset {
    margin: 25% 0 0 33%;
    padding: 0%;
    width: 60%;
  }
}

.pics .juroSunsetOver {
  margin: 12% 0 0 6%;
  padding: 0%;
  position: absolute;
  width: 27%;
  height: 26%;
  z-index: 30;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .pics .juroSunsetOver {
    margin: 25% 0 0 33%;
    padding: 0%;
    width: 60%;
  }
}

.pics .surpriseYomi {
  margin: 12% 0 0 37%;
  padding: 0%;
  position: absolute;
  width: 27%;
  z-index: 9;
}

@media screen and (max-width: 600px) {
  .pics .surpriseYomi {
    margin: 62% 0 0 33%;
    padding: 0%;
    width: 60%;
  }
}

.pics .surpriseYomiOver {
  margin: 12% 0 0 37%;
  padding: 0%;
  position: absolute;
  width: 27%;
  height: 26%;
  z-index: 30;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .pics .surpriseYomiOver {
    margin: 62% 0 0 33%;
    padding: 0%;
    width: 60%;
  }
}

.pics .cryShiro {
  margin: 12% 0 0 68%;
  padding: 0%;
  position: absolute;
  width: 25%;
  z-index: 9;
}

@media screen and (max-width: 600px) {
  .pics .cryShiro {
    margin: 98% 0 0 33%;
    padding: 0%;
    width: 60%;
  }
}

.pics .cryShiroOver {
  margin: 12% 0 0 68%;
  padding: 0%;
  position: absolute;
  width: 25%;
  height: 26%;
  z-index: 30;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .pics .cryShiroOver {
    margin: 98% 0 0 33%;
    padding: 0%;
    width: 60%;
  }
}

.pics .loneliness {
  margin: 33% 0 0 4%;
  padding: 0%;
  position: absolute;
  width: 30%;
  z-index: 9;
}

@media screen and (max-width: 600px) {
  .pics .loneliness {
    margin: 139% 0 0 33%;
    padding: 0%;
    width: 60%;
  }
}

.pics .lonelinessOver {
  margin: 33% 0 0 4%;
  padding: 0%;
  position: absolute;
  width: 30%;
  height: 26%;
  z-index: 30;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .pics .lonelinessOver {
    margin: 139% 0 0 33%;
    padding: 0%;
    width: 60%;
  }
}

.pics .gagmori {
  margin: 33% 0 0 37%;
  padding: 0%;
  position: absolute;
  width: 28%;
  z-index: 9;
}

@media screen and (max-width: 600px) {
  .pics .gagmori {
    margin: 178% 0 0 33%;
    padding: 0%;
    width: 60%;
  }
}

.pics .gagmoriOver {
  margin: 33% 0 0 37%;
  padding: 0%;
  position: absolute;
  width: 28%;
  height: 28%;
  z-index: 30;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .pics .gagmoriOver {
    margin: 178% 0 0 33%;
    padding: 0%;
    width: 60%;
  }
}

.pics .suicide {
  margin: 33% 0 0 68%;
  padding: 0%;
  position: absolute;
  width: 28%;
  z-index: 9;
}

@media screen and (max-width: 600px) {
  .pics .suicide {
    margin: 221% 0 0 33%;
    padding: 0%;
    width: 60%;
  }
}

.pics .suicideOver {
  margin: 33% 0 0 68%;
  padding: 0%;
  position: absolute;
  width: 28%;
  height: 26%;
  z-index: 30;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .pics .suicideOver {
    margin: 221% 0 0 33%;
    padding: 0%;
    width: 60%;
  }
}

.pics #mask {
  background: rgba(0, 0, 0, 0.788);
  position: fixed;
  padding: 0%;
  margin: 0% 0 0 0;
  width: 100%;
  height: 102%;
  z-index: 10;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 0;
}

.pics .modal {
  opacity: 0;
}

.pics .modal #close {
  background-image: url(../Image/modoru.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 4.8%;
  position: fixed;
  margin: 5% 0 0 86%;
  padding: 0%;
  font-size: 3em;
  color: rgba(255, 255, 255, 0);
  z-index: 800;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .pics .modal #close {
    margin: 90% 0 0 40%;
    width: 10%;
    font-size: 2em;
  }
}

.pics .modal img {
  position: fixed;
  width: 70%;
  margin: 5% 0 0 15%;
  padding: 0%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 800;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .pics .modal img {
    margin: 40% 0 0 5%;
    width: 85%;
  }
}

.pics .modal #mae {
  background-image: url(../Image/galleryYajirushiMae.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 8%;
  position: fixed;
  margin: 20% 0 0 6%;
  padding: 0%;
  font-size: 2em;
  color: rgba(255, 255, 255, 0);
  z-index: 800;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .pics .modal #mae {
    display: none;
  }
}

.pics .modal #ushiro {
  background-image: url(../Image/galleryYajirushiUshiro.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 7%;
  position: fixed;
  margin: 20% 0 0 87%;
  padding: 0%;
  font-size: 2.6em;
  color: rgba(255, 255, 255, 0);
  z-index: 800;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .pics .modal #ushiro {
    display: none;
  }
}

.pics .modal5 {
  opacity: 0;
}

.pics .modal5 #close {
  background-image: url(../Image/modoru.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 5%;
  margin: 3% 0 0 86%;
  padding: 0%;
  font-size: 3em;
  color: rgba(255, 255, 255, 0);
  z-index: 810;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .pics .modal5 #close {
    margin: 100% 0 0 40%;
    width: 10%;
    font-size: 2em;
  }
}

.pics .modal5 img {
  position: fixed;
  width: 70%;
  margin: 3% 0 0 15%;
  padding: 0%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 800;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .pics .modal5 img {
    margin: 40% 0 0 5%;
    width: 85%;
  }
}

.pics .modal5 #mae {
  background-image: url(../Image/galleryYajirushiMae.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 8%;
  position: fixed;
  margin: 20% 0 0 6%;
  padding: 0%;
  font-size: 2em;
  color: rgba(255, 255, 255, 0);
  z-index: 800;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .pics .modal5 #mae {
    display: none;
  }
}

.pics .modal5 #ushiro {
  background-image: url(../Image/galleryYajirushiUshiro.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 8%;
  position: fixed;
  margin: 20% 0 0 86%;
  padding: 0%;
  font-size: 2.5em;
  color: rgba(255, 255, 255, 0);
  z-index: 800;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .pics .modal5 #ushiro {
    display: none;
  }
}
/*# sourceMappingURL=cgs.css.map */