body {
  margin: 0%;
  padding: 0%;
}

a {
  text-decoration: none;
}

header .bgImage img {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0% auto;
  padding: 0%;
  z-index: 1;
  width: 100%;
}

header ul {
  margin: 4% 0% 0 30%;
  padding: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 100;
}

header ul a {
  text-decoration: none;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header ul a:hover {
  color: black;
}

header ul li {
  display: inline-block;
  margin: auto;
  padding: 3% 7%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: black;
  font-family: "Gentium Book Basic", serif;
  font-size: 2em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header ul li:hover {
  background-color: #0084ff;
}

header ul .here {
  background-color: #be00be;
}

header ul .here a {
  color: black;
}

header ul .here:hover {
  background-color: #0084ff;
}

.juroSunset {
  margin: 12% 0 0 6%;
  padding: 0%;
  position: absolute;
  width: 27%;
  z-index: 9;
}

.juroSunsetOver {
  margin: 12% 0 0 6%;
  padding: 0%;
  position: absolute;
  width: 27%;
  height: 26%;
  z-index: 30;
  cursor: pointer;
}

.surpriseYomi {
  margin: 12% 0 0 37%;
  padding: 0%;
  position: absolute;
  width: 27%;
  z-index: 9;
}

.surpriseYomiOver {
  margin: 12% 0 0 37%;
  padding: 0%;
  position: absolute;
  width: 27%;
  height: 26%;
  z-index: 30;
  cursor: pointer;
}

.cryShiro {
  margin: 12% 0 0 68%;
  padding: 0%;
  position: absolute;
  width: 25%;
  z-index: 9;
}

.cryShiroOver {
  margin: 12% 0 0 68%;
  padding: 0%;
  position: absolute;
  width: 25%;
  height: 26%;
  z-index: 30;
  cursor: pointer;
}

.loneliness {
  margin: 33% 0 0 4%;
  padding: 0%;
  position: absolute;
  width: 30%;
  z-index: 9;
}

.lonelinessOver {
  margin: 33% 0 0 4%;
  padding: 0%;
  position: absolute;
  width: 30%;
  height: 26%;
  z-index: 30;
  cursor: pointer;
}

.gagmori {
  margin: 33% 0 0 37%;
  padding: 0%;
  position: absolute;
  width: 28%;
  z-index: 9;
}

.gagmoriOver {
  margin: 33% 0 0 37%;
  padding: 0%;
  position: absolute;
  width: 28%;
  height: 28%;
  z-index: 30;
  cursor: pointer;
}

.suicide {
  margin: 33% 0 0 68%;
  padding: 0%;
  position: absolute;
  width: 28%;
  z-index: 9;
}

.suicideOver {
  margin: 33% 0 0 68%;
  padding: 0%;
  position: absolute;
  width: 28%;
  height: 26%;
  z-index: 30;
  cursor: pointer;
}

#mask {
  background: rgba(0, 0, 0, 0.788);
  position: fixed;
  padding: 0%;
  margin: 0% 0 0 0;
  width: 100%;
  height: 102%;
  z-index: 10;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 0;
}

.modal {
  opacity: 0;
}

.modal #close {
  background-image: url(../IMAGE/modoru.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 4.8%;
  position: fixed;
  margin: 5% 0 0 86%;
  padding: 0%;
  font-size: 3em;
  color: rgba(255, 255, 255, 0);
  z-index: 800;
  cursor: pointer;
}

.modal img {
  position: fixed;
  width: 70%;
  margin: 5% 0 0 15%;
  padding: 0%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 800;
  cursor: pointer;
}

.modal #mae {
  background-image: url(../IMAGE/galleryYajirushiMae.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 8%;
  position: fixed;
  margin: 20% 0 0 6%;
  padding: 0%;
  font-size: 2em;
  color: rgba(255, 255, 255, 0);
  z-index: 800;
  cursor: pointer;
}

.modal #ushiro {
  background-image: url(../IMAGE/galleryYajirushiUshiro.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 7%;
  position: fixed;
  margin: 20% 0 0 87%;
  padding: 0%;
  font-size: 2.6em;
  color: rgba(255, 255, 255, 0);
  z-index: 800;
  cursor: pointer;
}

.modal5 {
  opacity: 0;
}

.modal5 #close {
  background-image: url(../IMAGE/modoru.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 5%;
  margin: 3% 0 0 86%;
  padding: 0%;
  font-size: 3em;
  color: rgba(255, 255, 255, 0);
  z-index: 810;
  cursor: pointer;
}

.modal5 img {
  position: fixed;
  width: 70%;
  margin: 3% 0 0 15%;
  padding: 0%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 800;
  cursor: pointer;
}

.modal5 #mae {
  background-image: url(../IMAGE/galleryYajirushiMae.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 8%;
  position: fixed;
  margin: 20% 0 0 6%;
  padding: 0%;
  font-size: 2em;
  color: rgba(255, 255, 255, 0);
  z-index: 800;
  cursor: pointer;
}

.modal5 #ushiro {
  background-image: url(../IMAGE/galleryYajirushiUshiro.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 8%;
  position: fixed;
  margin: 20% 0 0 86%;
  padding: 0%;
  font-size: 2.5em;
  color: rgba(255, 255, 255, 0);
  z-index: 800;
  cursor: pointer;
}
/*# sourceMappingURL=cgs.css.map */