html {
  scroll-behavior: smooth;
}

body {
  margin: 0%;
  padding: 0%;
  background-image: url(../Image/paper.jpg);
}

@media screen and (max-width: 600px) {
  body {
    background-repeat: repeat-y;
  }
}

a {
  text-decoration: none;
}

header ul {
  margin: 4% 0% 0 30%;
  padding: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 100;
}

@media screen and (max-width: 600px) {
  header ul {
    display: block;
    margin: 13% 0 0 0;
    position: fixed;
  }
}

header ul a {
  text-decoration: none;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header ul a:hover {
  color: black;
}

header ul li {
  display: inline-block;
  margin: auto;
  padding: 3% 7%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: black;
  font-family: "Gentium Book Basic", serif;
  font-size: 2em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 600px) {
  header ul li {
    width: 120%;
    font-size: 1.8em;
    display: block;
    padding: 10% 5%;
    margin: 0% 0 0 5%;
    text-align: center;
  }
}

header ul li:hover {
  background-color: #0084ff;
}

header ul .here {
  background-color: #be00be;
}

header ul .here a {
  color: black;
}

header ul .here:hover {
  background-color: #0084ff;
}

.charaBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.778);
  margin: 15% 2% 0 2%;
  padding: 7% 0% 7% 5%;
  z-index: 4;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 600px) {
  .charaBox {
    display: none;
  }
}

.charaBox #shotaro img {
  width: 79%;
  margin: 0%;
  padding: 0%;
  display: inline-block;
  cursor: pointer;
}

.charaBox #minato img {
  display: inline-block;
  width: 79%;
  margin: 0%;
  padding: 0%;
  cursor: pointer;
}

.charaBox #yomi {
  margin: 0% 0 0 8%;
  padding: 0%;
}

.charaBox #yomi img {
  display: inline-block;
  width: 68%;
  margin: 0% 0 0 0;
  padding: 0%;
  cursor: pointer;
}

.charaBox #juro img {
  width: 154%;
  margin: 0;
  padding: 0%;
  display: inline-block;
  cursor: pointer;
}

.charaBox #shiro img {
  width: 77.5%;
  margin: 0%;
  padding: 0%;
  display: inline-block;
  cursor: pointer;
}

.charaBox #shiodome img {
  width: 81.5%;
  margin: 0%;
  padding: 0%;
  display: inline-block;
  cursor: pointer;
}

.hidden #shotaroExp {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.778);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 70%;
  margin: 15% 3% 0 10%;
  padding: 3% 5%;
}

@media screen and (max-width: 600px) {
  .hidden #shotaroExp {
    display: block;
    opacity: 1;
    width: 60%;
    padding: 3%;
    margin: 13% 0 0 28%;
  }
}

.hidden #shotaroExp img {
  width: 26%;
}

@media screen and (max-width: 600px) {
  .hidden #shotaroExp img {
    width: 30%;
    height: 30%;
    float: right;
    margin: 0 0 0 3%;
  }
}

.hidden #shotaroExp .box {
  display: block;
}

.hidden #shotaroExp .box h3 {
  color: white;
  font-size: 1.7em;
  font-family: "Gentium Book Basic", serif;
}

@media screen and (max-width: 600px) {
  .hidden #shotaroExp .box h3 {
    font-size: 1.7em;
    text-align: center;
  }
}

.hidden #shotaroExp .box h3 span {
  font-family: "Yuji Syuku", serif;
  font-size: 1.3em;
}

@media screen and (max-width: 600px) {
  .hidden #shotaroExp .box h3 span {
    font-size: 1.2em;
  }
}

.hidden #shotaroExp .box p {
  color: white;
  font-family: "Yuji Syuku", serif;
  font-size: 1em;
}

@media screen and (max-width: 600px) {
  .hidden #shotaroExp .box p {
    font-size: 0.8em;
  }
}

.hidden #shotaroExp .box img {
  width: 20%;
  margin: 15% 0 0 30%;
  padding: 0%;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .hidden #shotaroExp .box img {
    display: none;
  }
}

.hidden #minatoExp {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.778);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 70%;
  margin: 15% 3% 0 10%;
  padding: 3% 5%;
}

@media screen and (max-width: 600px) {
  .hidden #minatoExp {
    display: block;
    opacity: 1;
    width: 60%;
    padding: 3% 3% 1% 3%;
    margin: 74% 0 0 28%;
  }
}

.hidden #minatoExp img {
  width: 33%;
}

@media screen and (max-width: 600px) {
  .hidden #minatoExp img {
    width: 37%;
    height: 37%;
    float: left;
    margin: 0 4% 1% 0;
  }
}

.hidden #minatoExp .box {
  display: block;
}

.hidden #minatoExp .box h3 {
  color: white;
  font-size: 1.7em;
  font-family: "Gentium Book Basic", serif;
}

@media screen and (max-width: 600px) {
  .hidden #minatoExp .box h3 {
    font-size: 1.7em;
    text-align: center;
  }
}

.hidden #minatoExp .box h3 span {
  font-family: "Yuji Syuku", serif;
  font-size: 1.3em;
}

@media screen and (max-width: 600px) {
  .hidden #minatoExp .box h3 span {
    font-size: 1.2em;
  }
}

.hidden #minatoExp .box p {
  color: white;
  font-family: "Yuji Syuku", serif;
  font-size: 1em;
}

@media screen and (max-width: 600px) {
  .hidden #minatoExp .box p {
    font-size: 0.8em;
  }
}

.hidden #minatoExp .box img {
  width: 20%;
  margin: 15% 0 0 30%;
  padding: 0%;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .hidden #minatoExp .box img {
    display: none;
  }
}

.hidden #shiodomeExp {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.778);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 70%;
  margin: 15% 3% 0 10%;
  padding: 3% 5%;
}

@media screen and (max-width: 600px) {
  .hidden #shiodomeExp {
    display: block;
    opacity: 1;
    width: 60%;
    padding: 3% 3% 1% 3%;
    margin: 154% 0 0 28%;
  }
}

.hidden #shiodomeExp img {
  width: 30%;
}

@media screen and (max-width: 600px) {
  .hidden #shiodomeExp img {
    width: 35%;
    height: 35%;
    float: right;
    margin: 0 0 0 3%;
  }
}

.hidden #shiodomeExp .box {
  display: block;
}

.hidden #shiodomeExp .box h3 {
  color: white;
  font-size: 1.7em;
  font-family: "Gentium Book Basic", serif;
}

@media screen and (max-width: 600px) {
  .hidden #shiodomeExp .box h3 {
    font-size: 1.7em;
    text-align: center;
  }
}

.hidden #shiodomeExp .box h3 span {
  font-family: "Yuji Syuku", serif;
  font-size: 1.3em;
}

@media screen and (max-width: 600px) {
  .hidden #shiodomeExp .box h3 span {
    font-size: 1.2em;
  }
}

.hidden #shiodomeExp .box p {
  color: white;
  font-family: "Yuji Syuku", serif;
  font-size: 1em;
}

@media screen and (max-width: 600px) {
  .hidden #shiodomeExp .box p {
    font-size: 0.8em;
  }
}

.hidden #shiodomeExp .box img {
  width: 20%;
  margin: 15% 0 0 30%;
  padding: 0%;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .hidden #shiodomeExp .box img {
    display: none;
  }
}

.hidden #shiroExp {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.778);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 70%;
  margin: 15% 3% 0 10%;
  padding: 3% 5%;
}

@media screen and (max-width: 600px) {
  .hidden #shiroExp {
    display: block;
    opacity: 1;
    width: 60%;
    padding: 3% 3% 1% 3%;
    margin: 220% 0 0 28%;
  }
}

.hidden #shiroExp img {
  width: 25%;
}

@media screen and (max-width: 600px) {
  .hidden #shiroExp img {
    width: 35%;
    height: 35%;
    float: left;
    margin: 0 4% 1% 0;
  }
}

.hidden #shiroExp .box {
  display: block;
}

.hidden #shiroExp .box h3 {
  color: white;
  font-size: 1.7em;
  font-family: "Gentium Book Basic", serif;
}

@media screen and (max-width: 600px) {
  .hidden #shiroExp .box h3 {
    font-size: 1.7em;
    text-align: center;
  }
}

.hidden #shiroExp .box h3 span {
  font-family: "Yuji Syuku", serif;
  font-size: 1.3em;
}

@media screen and (max-width: 600px) {
  .hidden #shiroExp .box h3 span {
    font-size: 1.2em;
  }
}

.hidden #shiroExp .box p {
  color: white;
  font-family: "Yuji Syuku", serif;
  font-size: 1em;
}

@media screen and (max-width: 600px) {
  .hidden #shiroExp .box p {
    font-size: 0.8em;
  }
}

.hidden #shiroExp .box img {
  width: 20%;
  margin: 15% 0 0 30%;
  padding: 0%;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .hidden #shiroExp .box img {
    display: none;
  }
}

.hidden #juroExp {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.778);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 70%;
  margin: 15% 3% 0 10%;
  padding: 3% 5%;
}

@media screen and (max-width: 600px) {
  .hidden #juroExp {
    display: block;
    opacity: 1;
    width: 60%;
    padding: 3% 3% 1% 3%;
    margin: 297% 0 0 28%;
  }
}

.hidden #juroExp img {
  width: 33%;
}

@media screen and (max-width: 600px) {
  .hidden #juroExp img {
    width: 38%;
    height: 38%;
    float: right;
    margin: 0 0 0 3%;
  }
}

.hidden #juroExp .box {
  display: block;
}

.hidden #juroExp .box h3 {
  color: white;
  font-size: 1.7em;
  font-family: "Gentium Book Basic", serif;
}

@media screen and (max-width: 600px) {
  .hidden #juroExp .box h3 {
    font-size: 1.7em;
    text-align: center;
  }
}

.hidden #juroExp .box h3 span {
  font-family: "Yuji Syuku", serif;
  font-size: 1.3em;
}

@media screen and (max-width: 600px) {
  .hidden #juroExp .box h3 span {
    font-size: 1.2em;
  }
}

.hidden #juroExp .box p {
  color: white;
  font-family: "Yuji Syuku", serif;
  font-size: 1em;
}

@media screen and (max-width: 600px) {
  .hidden #juroExp .box p {
    font-size: 0.8em;
  }
}

.hidden #juroExp .box img {
  width: 20%;
  margin: 15% 0 0 30%;
  padding: 0%;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .hidden #juroExp .box img {
    display: none;
  }
}

.hidden #yomiExp {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.778);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 70%;
  margin: 15% 3% 0 10%;
  padding: 3% 5%;
}

@media screen and (max-width: 600px) {
  .hidden #yomiExp {
    display: block;
    opacity: 1;
    width: 60%;
    padding: 3% 3% 1% 3%;
    margin: 360% 0 0 28%;
  }
}

.hidden #yomiExp img {
  width: 28%;
}

@media screen and (max-width: 600px) {
  .hidden #yomiExp img {
    width: 35%;
    height: 35%;
    float: left;
    margin: 0 4% 1% 0;
  }
}

.hidden #yomiExp .box {
  display: block;
}

.hidden #yomiExp .box h3 {
  color: white;
  font-size: 1.7em;
  font-family: "Gentium Book Basic", serif;
}

@media screen and (max-width: 600px) {
  .hidden #yomiExp .box h3 {
    font-size: 1.7em;
    text-align: center;
  }
}

.hidden #yomiExp .box h3 span {
  font-family: "Yuji Syuku", serif;
  font-size: 1.3em;
}

@media screen and (max-width: 600px) {
  .hidden #yomiExp .box h3 span {
    font-size: 1.2em;
  }
}

.hidden #yomiExp .box p {
  color: white;
  font-family: "Yuji Syuku", serif;
  font-size: 1em;
}

@media screen and (max-width: 600px) {
  .hidden #yomiExp .box p {
    font-size: 0.8em;
  }
}

.hidden #yomiExp .box img {
  width: 20%;
  margin: 15% 0 0 30%;
  padding: 0%;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .hidden #yomiExp .box img {
    display: none;
  }
}
/*# sourceMappingURL=chara.css.map */