body {
  margin: 0%;
  padding: 0%;
}
a {
  text-decoration: none;
}
header {
  .bgImage {
    img {
      position: absolute;
      display: flex;
      margin: 0% auto;
      padding: 0%;
      z-index: 1;
      width: 100%;
    }
  }
  ul {
    margin: 4% 0% 0 30%;
    padding: 0;
    position: absolute;
    display: flex;
    z-index: 100;
    a {
      text-decoration: none;
      color: white;
      transition: 0.3s;
      &:hover {
        color: black;
      }
    }
    li {
      display: inline-block;
      margin: auto;
      padding: 3% 7%;
      box-sizing: border-box;
      background-color: black;
      font-family: "Gentium Book Basic", serif;
      font-size: 2em;
      transition: 0.3s;
      &:hover {
        background-color: rgb(0, 132, 255);
      }
    }
    .here {
      a {
        color: black;
      }
      background-color: rgb(190, 0, 190);
      &:hover {
        background-color: rgb(0, 132, 255);
      }
    }
  }
}
.charaBox {
  display: flex;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.778);
  margin: 15% 2% 0 2%;
  padding: 7% 0% 7% 5%;
  z-index: 4;
  opacity: 1;
  transition: 0.5s;
  #shotaro {
    img {
      width: 79%;
      margin: 0%;
      padding: 0%;
      display: inline-block;
      cursor: pointer;
    }
  }
  #minato {
    img {
      display: inline-block;
      width: 79%;
      margin: 0%;
      padding: 0%;
      cursor: pointer;
    }
  }
  #yomi {
    margin: 0% 0 0 8%;
    padding: 0%;
    img {
      display: inline-block;
      width: 68%;
      margin: 0% 0 0 0;
      padding: 0%;
      cursor: pointer;
    }
  }
  #juro {
    img {
      width: 154%;
      margin: 0;
      padding: 0%;
      display: inline-block;
      cursor: pointer;
    }
  }
  #shiro {
    img {
      width: 77.5%;
      margin: 0%;
      padding: 0%;
      display: inline-block;
      cursor: pointer;
    }
  }
  #shiodome {
    img {
      width: 81.5%;
      margin: 0%;
      padding: 0%;
      display: inline-block;
      cursor: pointer;
    }
  }
}

.hidden {
  #shotaroExp {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.778);
    opacity: 0;
    transition: .5s;
    width: 70%;
    margin: 15% 3% 0 10%;
    padding: 3% 5%;
    img {
      width: 26%;
    }
    .box {
      display: block;
      h3 {
        color: white;
        font-size: 1.7em;
        font-family: "Gentium Book Basic", serif;
        span {
          font-family: 'Yuji Syuku', serif;
          font-size: 1.3em;
        }
      }
      p{
        color: white;
        font-family: 'Yuji Syuku', serif;
        font-size: 1em;
      }
      img{
        width: 20%;
        margin: 15% 0 0 30%;
        padding: 0%;
        cursor: pointer;
      }
    }
  }
  #minatoExp {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.778);
    opacity: 0;
    transition: .5s;
    width: 70%;
    margin: 15% 3% 0 10%;
    padding: 3% 5%;
    img {
      width: 33%;
    }
    .box {
      display: block;
      h3 {
        color: white;
        font-size: 1.7em;
        font-family: "Gentium Book Basic", serif;
        span {
          font-family: 'Yuji Syuku', serif;
          font-size: 1.3em;
        }
      }
      p{
        color: white;
        font-family: 'Yuji Syuku', serif;
        font-size: 1em;
      }
      img{
        width: 20%;
        margin: 15% 0 0 30%;
        padding: 0%;
        cursor: pointer;
      }
    }
  }
  #shiodomeExp {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.778);
    opacity: 0;
    transition: .5s;
    width: 70%;
    margin: 15% 3% 0 10%;
    padding: 3% 5%;
    img {
      width: 30%;
    }
    .box {
      display: block;
      h3 {
        color: white;
        font-size: 1.7em;
        font-family: "Gentium Book Basic", serif;
        span {
          font-family: 'Yuji Syuku', serif;
          font-size: 1.3em;
        }
      }
      p{
        color: white;
        font-family: 'Yuji Syuku', serif;
        font-size: 1em;
      }
      img{
        width: 20%;
        margin: 15% 0 0 30%;
        padding: 0%;
        cursor: pointer;
      }
    }
  }
  #shiroExp {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.778);
    opacity: 0;
    transition: .5s;
    width: 70%;
    margin: 15% 3% 0 10%;
    padding: 3% 5%;
    img {
      width: 25%;
    }
    .box {
      display: block;
      h3 {
        color: white;
        font-size: 1.7em;
        font-family: "Gentium Book Basic", serif;
        span {
          font-family: 'Yuji Syuku', serif;
          font-size: 1.3em;
        }
      }
      p{
        color: white;
        font-family: 'Yuji Syuku', serif;
        font-size: 1em;
      }
      img{
        width: 20%;
        margin: 15% 0 0 30%;
        padding: 0%;
        cursor: pointer;
      }
    }
  }
  #juroExp {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.778);
    opacity: 0;
    transition: .5s;
    width: 70%;
    margin: 15% 3% 0 10%;
    padding: 3% 5%;
    img {
      width: 33%;
    }
    .box {
      display: block;
      h3 {
        color: white;
        font-size: 1.7em;
        font-family: "Gentium Book Basic", serif;
        span {
          font-family: 'Yuji Syuku', serif;
          font-size: 1.3em;
        }
      }
      p{
        color: white;
        font-family: 'Yuji Syuku', serif;
        font-size: 1em;
      }
      img{
        width: 20%;
        margin: 15% 0 0 30%;
        padding: 0%;
        cursor: pointer;
      }
    }
  }
  #yomiExp {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.778);
    opacity: 0;
    transition: .5s;
    width: 70%;
    margin: 15% 3% 0 10%;
    padding: 3% 5%;
    img {
      width: 28%;
    }
    .box {
      display: block;
      h3 {
        color: white;
        font-size: 1.7em;
        font-family: "Gentium Book Basic", serif;
        span {
          font-family: 'Yuji Syuku', serif;
          font-size: 1.3em;
        }
      }
      p{
        color: white;
        font-family: 'Yuji Syuku', serif;
        font-size: 1em;
      }
      img{
        width: 20%;
        margin: 15% 0 0 30%;
        padding: 0%;
        cursor: pointer;
      }
    }
  }
}
