body {
  margin: 0%;
  padding: 0%;
}

a {
  text-decoration: none;
}

header .bgImage img {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0% auto;
  padding: 0%;
  z-index: 1;
  width: 100%;
}

header ul {
  margin: 4% 0% 0 30%;
  padding: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 100;
}

header ul a {
  text-decoration: none;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header ul a:hover {
  color: black;
}

header ul li {
  display: inline-block;
  margin: auto;
  padding: 3% 7%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: black;
  font-family: "Gentium Book Basic", serif;
  font-size: 2em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header ul li:hover {
  background-color: #0084ff;
}

header ul .here {
  background-color: #be00be;
}

header ul .here a {
  color: black;
}

header ul .here:hover {
  background-color: #0084ff;
}

.charaBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.778);
  margin: 15% 2% 0 2%;
  padding: 7% 0% 7% 5%;
  z-index: 4;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.charaBox #shotaro img {
  width: 79%;
  margin: 0%;
  padding: 0%;
  display: inline-block;
  cursor: pointer;
}

.charaBox #minato img {
  display: inline-block;
  width: 79%;
  margin: 0%;
  padding: 0%;
  cursor: pointer;
}

.charaBox #yomi {
  margin: 0% 0 0 8%;
  padding: 0%;
}

.charaBox #yomi img {
  display: inline-block;
  width: 68%;
  margin: 0% 0 0 0;
  padding: 0%;
  cursor: pointer;
}

.charaBox #juro img {
  width: 154%;
  margin: 0;
  padding: 0%;
  display: inline-block;
  cursor: pointer;
}

.charaBox #shiro img {
  width: 77.5%;
  margin: 0%;
  padding: 0%;
  display: inline-block;
  cursor: pointer;
}

.charaBox #shiodome img {
  width: 81.5%;
  margin: 0%;
  padding: 0%;
  display: inline-block;
  cursor: pointer;
}

.hidden #shotaroExp {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.778);
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
  width: 70%;
  margin: 15% 3% 0 10%;
  padding: 3% 5%;
}

.hidden #shotaroExp img {
  width: 26%;
}

.hidden #shotaroExp .box {
  display: block;
}

.hidden #shotaroExp .box h3 {
  color: white;
  font-size: 1.7em;
  font-family: "Gentium Book Basic", serif;
}

.hidden #shotaroExp .box h3 span {
  font-family: "New Tegomin", serif;
  font-size: 1.3em;
}

.hidden #shotaroExp .box p {
  color: white;
  font-family: "New Tegomin", serif;
  font-size: 1em;
}

.hidden #shotaroExp .box img {
  width: 20%;
  margin: 15% 0 0 30%;
  padding: 0%;
  cursor: pointer;
}

.hidden #minatoExp {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.778);
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
  width: 70%;
  margin: 15% 3% 0 10%;
  padding: 3% 5%;
}

.hidden #minatoExp img {
  width: 33%;
}

.hidden #minatoExp .box {
  display: block;
}

.hidden #minatoExp .box h3 {
  color: white;
  font-size: 1.7em;
  font-family: "Gentium Book Basic", serif;
}

.hidden #minatoExp .box h3 span {
  font-family: "New Tegomin", serif;
  font-size: 1.3em;
}

.hidden #minatoExp .box p {
  color: white;
  font-family: "New Tegomin", serif;
  font-size: 1em;
}

.hidden #minatoExp .box img {
  width: 20%;
  margin: 15% 0 0 30%;
  padding: 0%;
  cursor: pointer;
}

.hidden #shiodomeExp {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.778);
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
  width: 70%;
  margin: 15% 3% 0 10%;
  padding: 3% 5%;
}

.hidden #shiodomeExp img {
  width: 30%;
}

.hidden #shiodomeExp .box {
  display: block;
}

.hidden #shiodomeExp .box h3 {
  color: white;
  font-size: 1.7em;
  font-family: "Gentium Book Basic", serif;
}

.hidden #shiodomeExp .box h3 span {
  font-family: "New Tegomin", serif;
  font-size: 1.3em;
}

.hidden #shiodomeExp .box p {
  color: white;
  font-family: "New Tegomin", serif;
  font-size: 1em;
}

.hidden #shiodomeExp .box img {
  width: 20%;
  margin: 15% 0 0 30%;
  padding: 0%;
  cursor: pointer;
}
/*# sourceMappingURL=chara.css.map */