@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap");

$breakpoints: (
  "sm": "screen and (max-width: 600px)",
  "md": "screen and (max-width: 1000px)",
  "lg": "screen and (max-width: 1500px)",
) !default;

@mixin mq($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
body {
  margin: 0%;
  padding: 0%;
  background-image: url(../Image/paper.jpg);
  @include mq("md") {
    background-repeat: repeat-y;

    @include mq("sm") {
      background-repeat: repeat-y;
    }
  }
}
a {
  text-decoration: none;
}
header {
  ul {
    margin: 4% 0% 0 30%;
    padding: 0;
    position: absolute;
    display: flex;
    z-index: 100;
    @include mq("md") {
      display: block;
      margin: 40% 0 0 2%;
      position: fixed;
      @include mq("sm") {
        display: block;
        margin: 35% 0 0 0;
        position: fixed;
      }
    }
    a {
      text-decoration: none;
      color: white;
      transition: 0.3s;
      &:hover {
        color: black;
      }
    }
    li {
      display: inline-block;
      margin: auto;
      padding: 3% 7%;
      box-sizing: border-box;
      background-color: black;
      font-family: "Gentium Book Basic", serif;
      font-size: 2em;
      transition: 0.3s;
      @include mq("md") {
        width: 140%;
        font-size: 1.9em;
        display: block;
        padding: 10% 5%;
        margin: 0% 0 0 5%;
        text-align: center;
        @include mq("sm") {
          width: 120%;
          font-size: 1.8em;
          display: block;
          padding: 10% 5%;
          margin: 0% 0 0 5%;
          text-align: center;
        }
      }
      &:hover {
        background-color: rgb(0, 132, 255);
      }
    }
    .here {
      a {
        color: black;
      }
      background-color: rgb(190, 0, 190);
      &:hover {
        background-color: rgb(0, 132, 255);
      }
    }
  }
}

.icon {
  p {
    position: absolute;
    z-index: 100;
    font-family: "Gentium Book Basic", serif;
    font-size: 2em;
    margin: 19% 0 0 5%;
    padding: 0%;
    color: white;
    @include mq("md") {
      margin: 30% 0 0 7%;
      width: 18%;
      @include mq("sm") {
        margin: 26% 0 0 5%;
        width: 16%;
      }
    }
    span {
      &:hover {
        color: rgb(0, 132, 255);
        cursor: pointer;
      }
    }
  }
  img {
    width: 12%;
    display: block;
    position: absolute;
    z-index: 5;
    margin: 1.5% 0 0 4%;
    padding: 0%;
    float: left;
    @include mq("md") {
      margin: 2% 0 0 5%;
      width: 20%;
      @include mq("sm") {
        margin: 2% 0 0 7%;
        width: 16%;
      }
    }
  }
}

#main {
  display: block;
  opacity: 1;
  position: absolute;
  z-index: 5;
  margin: 15% 0 0 19%;
  padding: 0%;
  width: 70%;
  height: 147%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  transition: 0.3s;
  @include mq("md") {
    margin: 12% 0 0 28%;
    width: 68%;
    height: 370%;
    text-align: center;
    @include mq("sm") {
      margin: 12% 0 0 30%;
      width: 65%;
      height: 310%;
      text-align: center;
    }
  }
  a {
    text-decoration: none;
    color: rgb(0, 132, 255);
  }
  li {
    list-style: none;
  }
  .title h1 {
    position: absolute;
    font-family: "New Tegomin", serif;
    text-align: right;
    color: rgb(190, 0, 190);
    font-size: 2.5em;
    font-weight: bold;
    margin: 5% 0 10% 15%;
    padding: 0%;
    @include mq("md") {
      font-size: 2.4em;
      margin: 11% 0 6% 13%;
      @include mq("sm") {
        font-size: 2.2em;
        margin: 10% 0 10% 20%;
      }
    }
  }
  .detail {
    position: absolute;
    font-family: "Yuji Syuku", serif;
    color: white;
    font-weight: bold;
    margin: 18% 0 10% 10%;
    padding: 0%;
    @include mq("md") {
      margin: 50% 0 10% 13%;
      width: 73%;
      @include mq("sm") {
        margin: 45% 0 10% 18%;
        width: 65%;
      }
    }
    h3 {
      font-size: 1.5em;
    }
    p {
      font-size: 1.2em;
      margin: 0%;
      padding: 1% 0;
    }
  }
  .sell {
    position: absolute;
    font-family: "Yuji Syuku", serif;
    color: white;
    font-weight: bold;
    margin: 50% 0 10% 10%;
    padding: 0%;
    @include mq("md") {
      margin: 113% 0 10% 13%;
      width: 75%;
      @include mq("sm") {
        margin: 160% 0 10% 18%;
        width: 65%;
      }
    }
    h3 {
      font-size: 1.6em;
    }
    p,
    ul {
      font-size: 1.2em;
      margin: 0%;
      padding: 1% 0;
    }
  }
  .pic img {
    display: block;
    position: absolute;
    margin: 7% 0 0 63%;
    padding: 0%;
    width: 29%;
    z-index: 999;
    @include mq("md") {
      margin: 7% 0 0 63%;
      width: 32%;
      @include mq("sm") {
        display: none;
      }
    }
  }
  .omake {
    position: absolute;
    font-family: "Yuji Syuku", serif;
    margin: 50% 0 10% 60%;
    padding: 0%;
    @include mq("md") {
      margin: 230% 0 0 13%;
      width: 75%;
      @include mq("sm") {
        margin: 340% 0 0 18%;
        width: 65%;
      }
    }
    p {
      font-size: 1.4em;
    }
    h3 {
      font-size: 1.8em;
      color: white;
    }
  }
  .staff {
    position: absolute;
    font-family: "Yuji Syuku", serif;
    margin: 80% 0 10% 60%;
    padding: 0%;
    @include mq("md") {
      margin: 290% 0 0 18%;
      width: 65%;
      @include mq("sm") {
        margin: 440% 0 0 18%;
        width: 65%;
      }
    }
    h1 {
      color: rgb(190, 0, 190);
      font-size: 2em;
      font-weight: bold;
      margin: 0%;
      padding: 0%;
    }
    h3 {
      font-size: 1.6em;
    }
    p {
      font-size: 1.3em;
    }
  }
}

#en {
  display: block;
  position: absolute;
  z-index: 5;
  margin: 15% 0 0 19%;
  padding: 0;
  width: 70%;
  height: 150%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  opacity: 0;
  transition: 0.3s;
  @include mq("md") {
    margin: 12% 0 0 28%;
    width: 68%;
    height: 430%;
    text-align: center;
    @include mq("sm") {
      margin: 12% 0 0 30%;
      width: 65%;
      height: 340%;
      text-align: center;
    }
  }
  a {
    text-decoration: none;
    color: rgb(0, 132, 255);
  }
  li {
    list-style: none;
  }
  .title h1 {
    position: absolute;
    font-family: "New Tegomin", serif;
    text-align: right;
    color: rgb(190, 0, 190);
    font-size: 2.5em;
    font-weight: bold;
    margin: 5% 0 10% 15%;
    padding: 0%;
    @include mq("md") {
      font-size: 2.6em;
      margin: 12% 0 10% 12%;
      @include mq("sm") {
        font-size: 2.2em;
        margin: 10% 0 10% 20%;
      }
    }
  }
  .detail {
    position: absolute;
    font-family: "Yuji Syuku", serif;
    color: white;
    font-weight: bold;
    margin: 18% 0 10% 10%;
    padding: 0%;
    @include mq("md") {
      margin: 55% 0 10% 18%;
      width: 65%;
      @include mq("sm") {
        margin: 45% 0 10% 18%;
        width: 65%;
      }
    }
    h3 {
      font-size: 1.5em;
    }
    p {
      font-size: 1.2em;
      margin: 0%;
      padding: 1% 0;
    }
  }
  .sell {
    position: absolute;
    font-family: "Yuji Syuku", serif;
    color: white;
    font-weight: bold;
    margin: 50% 0 10% 10%;
    padding: 0%;
    @include mq("md") {
      margin: 138% 0 10% 18%;
      width: 65%;
      @include mq("sm") {
        margin: 160% 0 10% 18%;
        width: 65%;
      }
    }
    h3 {
      font-size: 1.6em;
    }
    p,
    ul {
      font-size: 1.2em;
      margin: 0%;
      padding: 1% 0;
    }
  }
  .pic img {
    display: block;
    position: absolute;
    margin: 7% 0 0 65%;
    padding: 0%;
    width: 29%;
    z-index: 999;
    @include mq("md") {
      width: 32%;
      margin: 7% 0 0 63%;
      @include mq("sm") {
        display: none;
      }
    }
  }
  .omake {
    position: absolute;
    font-family: "Yuji Syuku", serif;
    margin: 50% 0 10% 55%;
    padding: 0%;
    @include mq("md") {
      margin: 260% 0 0 18%;
      width: 65%;
      @include mq("sm") {
        margin: 360% 0 0 18%;
        width: 65%;
      }
    }
    p {
      font-size: 1.5em;
      font-weight: bold;
    }
    h3 {
      font-size: 1.8em;
      color: white;
    }
  }
  .staff {
    position: absolute;
    font-family: "Yuji Syuku", serif;
    margin: 80% 0 10% 55%;
    padding: 0%;
    @include mq("md") {
      margin: 330% 0 0 18%;
      width: 65%;
      @include mq("sm") {
        margin: 490% 0 0 18%;
        width: 65%;
      }
    }
    h1 {
      color: rgb(190, 0, 190);
      font-size: 2em;
      font-weight: bold;
      margin: 0%;
      padding: 0%;
    }
    h3 {
      font-size: 1.3em;
    }
    p {
      font-size: 1.2em;
    }
  }
}
