@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap");
body {
  margin: 0%;
  padding: 0%;
  background-image: url(../Image/paper.jpg);
}

@media screen and (max-width: 600px) {
  body {
    background-repeat: repeat-y;
  }
}

a {
  text-decoration: none;
}

header ul {
  margin: 4% 0% 0 30%;
  padding: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 100;
}

@media screen and (max-width: 600px) {
  header ul {
    display: block;
    margin: 35% 0 0 0;
    position: fixed;
  }
}

header ul a {
  text-decoration: none;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header ul a:hover {
  color: black;
}

header ul li {
  display: inline-block;
  margin: auto;
  padding: 3% 7%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: black;
  font-family: "Gentium Book Basic", serif;
  font-size: 2em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 600px) {
  header ul li {
    width: 120%;
    font-size: 1.8em;
    display: block;
    padding: 10% 5%;
    margin: 0% 0 0 5%;
    text-align: center;
  }
}

header ul li:hover {
  background-color: #0084ff;
}

header ul .here {
  background-color: #be00be;
}

header ul .here a {
  color: black;
}

header ul .here:hover {
  background-color: #0084ff;
}

.icon p {
  position: absolute;
  z-index: 100;
  font-family: "Gentium Book Basic", serif;
  font-size: 2em;
  margin: 19% 0 0 5%;
  padding: 0%;
  color: white;
}

@media screen and (max-width: 600px) {
  .icon p {
    margin: 26% 0 0 5%;
    width: 16%;
  }
}

.icon p span:hover {
  color: #0084ff;
  cursor: pointer;
}

.icon img {
  width: 12%;
  display: block;
  position: absolute;
  z-index: 5;
  margin: 1.5% 0 0 4%;
  padding: 0%;
  float: left;
}

@media screen and (max-width: 600px) {
  .icon img {
    margin: 2% 0 0 7%;
    width: 16%;
  }
}

#main {
  display: block;
  opacity: 1;
  position: absolute;
  z-index: 5;
  margin: 15% 0 0 19%;
  padding: 0%;
  width: 70%;
  height: 147%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 600px) {
  #main {
    margin: 12% 0 0 30%;
    width: 65%;
    height: 270%;
    text-align: center;
  }
}

#main a {
  text-decoration: none;
  color: #0084ff;
}

#main li {
  list-style: none;
}

#main .title h1 {
  position: absolute;
  font-family: "New Tegomin", serif;
  text-align: right;
  color: #be00be;
  font-size: 2.5em;
  font-weight: bold;
  margin: 5% 0 10% 15%;
  padding: 0%;
}

@media screen and (max-width: 600px) {
  #main .title h1 {
    font-size: 2.2em;
    margin: 10% 0 10% 20%;
  }
}

#main .detail {
  position: absolute;
  font-family: "Yuji Syuku", serif;
  color: white;
  font-weight: bold;
  margin: 18% 0 10% 10%;
  padding: 0%;
}

@media screen and (max-width: 600px) {
  #main .detail {
    margin: 45% 0 10% 18%;
    width: 65%;
  }
}

#main .detail h3 {
  font-size: 1.5em;
}

#main .detail p {
  font-size: 1.2em;
  margin: 0%;
  padding: 1% 0;
}

#main .sell {
  position: absolute;
  font-family: "Yuji Syuku", serif;
  color: white;
  font-weight: bold;
  margin: 50% 0 10% 10%;
  padding: 0%;
}

@media screen and (max-width: 600px) {
  #main .sell {
    margin: 160% 0 10% 18%;
    width: 65%;
  }
}

#main .sell h3 {
  font-size: 1.6em;
}

#main .sell p,
#main .sell ul {
  font-size: 1.2em;
  margin: 0%;
  padding: 1% 0;
}

#main .pic img {
  display: block;
  position: absolute;
  margin: 7% 0 0 63%;
  padding: 0%;
  width: 29%;
  z-index: 999;
}

@media screen and (max-width: 600px) {
  #main .pic img {
    display: none;
  }
}

#main .omake {
  position: absolute;
  font-family: "Yuji Syuku", serif;
  margin: 50% 0 10% 60%;
  padding: 0%;
}

@media screen and (max-width: 600px) {
  #main .omake {
    margin: 320% 0 0 18%;
    width: 65%;
  }
}

#main .omake p {
  font-size: 1.4em;
}

#main .omake h3 {
  font-size: 1.8em;
  color: white;
}

#main .staff {
  position: absolute;
  font-family: "Yuji Syuku", serif;
  margin: 80% 0 10% 60%;
  padding: 0%;
}

@media screen and (max-width: 600px) {
  #main .staff {
    margin: 410% 0 0 18%;
    width: 65%;
  }
}

#main .staff h1 {
  color: #be00be;
  font-size: 2em;
  font-weight: bold;
  margin: 0%;
  padding: 0%;
}

#main .staff h3 {
  font-size: 1.6em;
}

#main .staff p {
  font-size: 1.3em;
}

#en {
  display: block;
  position: absolute;
  z-index: 5;
  margin: 15% 0 0 19%;
  padding: 0;
  width: 70%;
  height: 150%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 600px) {
  #en {
    margin: 12% 0 0 30%;
    width: 65%;
    height: 270%;
    text-align: center;
  }
}

#en a {
  text-decoration: none;
  color: #0084ff;
}

#en li {
  list-style: none;
}

#en .title h1 {
  position: absolute;
  font-family: "New Tegomin", serif;
  text-align: right;
  color: #be00be;
  font-size: 2.5em;
  font-weight: bold;
  margin: 5% 0 10% 15%;
  padding: 0%;
}

@media screen and (max-width: 600px) {
  #en .title h1 {
    font-size: 2.2em;
    margin: 10% 0 10% 20%;
  }
}

#en .detail {
  position: absolute;
  font-family: "Yuji Syuku", serif;
  color: white;
  font-weight: bold;
  margin: 18% 0 10% 10%;
  padding: 0%;
}

@media screen and (max-width: 600px) {
  #en .detail {
    margin: 45% 0 10% 18%;
    width: 65%;
  }
}

#en .detail h3 {
  font-size: 1.5em;
}

#en .detail p {
  font-size: 1.2em;
  margin: 0%;
  padding: 1% 0;
}

#en .sell {
  position: absolute;
  font-family: "Yuji Syuku", serif;
  color: white;
  font-weight: bold;
  margin: 50% 0 10% 10%;
  padding: 0%;
}

@media screen and (max-width: 600px) {
  #en .sell {
    margin: 160% 0 10% 18%;
    width: 65%;
  }
}

#en .sell h3 {
  font-size: 1.6em;
}

#en .sell p,
#en .sell ul {
  font-size: 1.2em;
  margin: 0%;
  padding: 1% 0;
}

#en .pic img {
  display: block;
  position: absolute;
  margin: 7% 0 0 65%;
  padding: 0%;
  width: 29%;
  z-index: 999;
}

@media screen and (max-width: 600px) {
  #en .pic img .pic img {
    display: block;
    position: absolute;
    margin: 7% 0 0 63%;
    padding: 0%;
    width: 29%;
    z-index: 999;
  }
}

@media screen and (max-width: 600px) and (max-width: 600px) {
  #en .pic img .pic img {
    display: none;
  }
}

#en .omake {
  position: absolute;
  font-family: "Yuji Syuku", serif;
  margin: 50% 0 10% 55%;
  padding: 0%;
}

@media screen and (max-width: 600px) {
  #en .omake {
    margin: 320% 0 0 18%;
    width: 65%;
  }
}

#en .omake p {
  font-size: 1.5em;
  font-weight: bold;
}

#en .omake h3 {
  font-size: 1.8em;
  color: white;
}

#en .staff {
  position: absolute;
  font-family: "Yuji Syuku", serif;
  margin: 80% 0 10% 55%;
  padding: 0%;
}

@media screen and (max-width: 600px) {
  #en .staff {
    margin: 410% 0 0 18%;
    width: 65%;
  }
}

#en .staff h1 {
  color: #be00be;
  font-size: 2em;
  font-weight: bold;
  margin: 0%;
  padding: 0%;
}

#en .staff h3 {
  font-size: 1.3em;
}

#en .staff p {
  font-size: 1.2em;
}
/*# sourceMappingURL=special.css.map */