body {
  margin: 0%;
  padding: 0%;
  background-image: url(../Image/paper.jpg);
}

@media screen and (max-width: 600px) {
  body {
    background-repeat: repeat-y;
  }
}

a {
  text-decoration: none;
}

header .icon p {
  position: absolute;
  z-index: 100;
  font-family: "Gentium Book Basic", serif;
  font-size: 2em;
  margin: 19% 0 0 5%;
  padding: 0%;
}

@media screen and (max-width: 600px) {
  header .icon p {
    margin: 26% 0 0 5%;
    width: 16%;
  }
}

header .icon p span:hover {
  color: #0084ff;
  cursor: pointer;
}

header .icon img {
  width: 12%;
  display: block;
  position: absolute;
  z-index: 5;
  margin: 1.5% 0 0 4%;
  padding: 0%;
  float: left;
}

@media screen and (max-width: 600px) {
  header .icon img {
    margin: 2% 0 0 7%;
    width: 16%;
  }
}

header ul {
  margin: 4% 0% 0 30%;
  padding: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 100;
}

@media screen and (max-width: 600px) {
  header ul {
    display: block;
    margin: 37% 0 0 0;
  }
}

header ul a {
  text-decoration: none;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header ul a:hover {
  color: black;
}

header ul li {
  display: inline-block;
  margin: auto;
  padding: 3% 7%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: black;
  font-family: "Gentium Book Basic", serif;
  font-size: 2em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 600px) {
  header ul li {
    width: 120%;
    font-size: 1.8em;
    display: block;
    padding: 10% 5%;
    margin: 0% 0 0 5%;
    text-align: center;
  }
}

header ul li:hover {
  background-color: #0084ff;
}

header ul .here {
  background-color: #be00be;
}

header ul .here a {
  color: black;
}

header ul .here:hover {
  background-color: #0084ff;
}

#jp {
  position: absolute;
  display: block;
  margin: 12% 0 0 16%;
  padding: 2.5% 10%;
  color: white;
  background-color: rgba(0, 0, 0, 0.651);
  z-index: 100;
  text-align: center;
  font-family: "Yuji Syuku", serif;
  font-size: 1.1em;
  width: 53%;
  opacity: 1;
}

@media screen and (max-width: 600px) {
  #jp {
    font-size: 1.2em;
    margin: 12% 0 0 27%;
    padding: 3% 7%;
  }
}

#jp span {
  color: #d40e99;
}

#jp h2 {
  color: #cc1d87;
  margin-bottom: 3%;
}

#jp .hanasu {
  margin: 7% 0 5% 0;
  padding: 0%;
  font-size: 1.3em;
}

#en {
  position: absolute;
  display: block;
  margin: 12% 0 0 16%;
  padding: 2.5% 10%;
  color: white;
  background-color: rgba(0, 0, 0, 0.651);
  z-index: 100;
  text-align: center;
  font-family: "Yuji Syuku", serif;
  font-size: 1.3em;
  width: 53%;
  opacity: 0;
}

@media screen and (max-width: 600px) {
  #en {
    font-size: 1.2em;
    margin: 12% 0 0 27%;
    padding: 3% 7%;
  }
}

#en span {
  color: #d40e99;
}

#en h2 {
  color: #cc1d87;
  margin-bottom: 3%;
}

#en .hanasu {
  margin: 7% 0 5% 0;
  padding: 0%;
  font-size: 1.3em;
}

#en h1 {
  margin-bottom: 5%;
}
/*# sourceMappingURL=story.css.map */