@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

body {
  padding: 0%;
  margin: 0%;
}

.photo {
  box-sizing: content-box;
  a {
    text-decoration: none;
    color: rgb(161, 161, 161);
  }
  img {
    margin: -0.7% 0 0 0;
    padding: 0%;
    width: 100%;
    height: 100%;
  }
}
.window {
  position: absolute;
  text-align: center;
  margin: -50.6% 0 0 34.3%;
  padding: 0%;
  width: 27%;
  height: 75%;
  cursor: pointer;
  z-index: 99;
  &:hover {
    border: 6px dashed rgb(161, 161, 161);
    border-radius: 20%;
    border-width: 0.3em;
    transition: 0.5s;
    &::after {
      position: absolute;
      margin: 27% 0 0 43%;
      padding: 0em;
      content: "sssssssvvss";
      color: rgba(255, 255, 255, 0);
      text-decoration: underline 3px rgb(161, 161, 161);
      transform: rotate(300deg);
    }
  }
}
.naname {
  position: absolute;
  text-align: center;
  margin: -47.1% 0 0 65.2%;
  padding: 0%;
  color: white;
  font-size: 1.7em;
  font-family: "DotGothic16", sans-serif;
  letter-spacing: 0.3em;
  text-decoration: underline 3px rgb(161, 161, 161);
}
