$breakpoints: (
  "sm": "screen and (max-width: 600px)",
  "md": "screen and (max-width: 800px)",
  "lg": "screen and (max-width: 1000px)",
  "xl": "screen and (max-width: 1300px)",
) !default;

@mixin mq($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
body {
  margin: 0%;
  padding: 0%;
  background-image: url(../Image/paper.jpg);
  @include mq("sm") {
    background-repeat: repeat-y;
  }
}
a {
  text-decoration: none;
}
header {
  ul {
    margin: 4% 0% 0 30%;
    padding: 0;
    position: absolute;
    display: flex;
    z-index: 100;
    @include mq("sm") {
      display: block;
      margin: 35% 0 0 0;
      position: fixed;
    }
    a {
      text-decoration: none;
      color: white;
      transition: 0.3s;
      &:hover {
        color: black;
      }
    }
    li {
      display: inline-block;
      margin: auto;
      padding: 3% 7%;
      box-sizing: border-box;
      background-color: black;
      font-family: "Gentium Book Basic", serif;
      font-size: 2em;
      transition: 0.3s;
      @include mq("sm") {
        width: 120%;
        font-size: 1.8em;
        display: block;
        padding: 10% 5%;
        margin: 0% 0 0 5%;
        text-align: center;
      }
      &:hover {
        background-color: rgb(0, 132, 255);
      }
    }
    .here {
      a {
        color: black;
      }
      background-color: rgb(190, 0, 190);
      &:hover {
        background-color: rgb(0, 132, 255);
      }
    }
  }
}
.icon {
  img {
    width: 12%;
    display: block;
    position: absolute;
    z-index: 5;
    margin: 1.5% 0 0 4%;
    padding: 0%;
    float: left;
    @include mq("sm") {
      margin: 2% 0 0 7%;
      width: 16%;
    }
  }
}

.lg {
  p {
    position: absolute;
    z-index: 100;
    font-family: "Gentium Book Basic", serif;
    font-size: 1.8em;
    margin: 19% 0 0 5%;
    padding: 0%;
    color: white;
    @include mq("sm") {
      margin: 26% 0 0 5%;
      width: 16%;
    }
    span {
      &:hover {
        color: rgb(0, 132, 255);
        cursor: pointer;
      }
    }
  }
}

#main {
  display: block;
  position: absolute;
  z-index: 5;
  margin: 11% 0 0 16.5%;
  padding: 1% 5%;
  background-color: rgba(0, 0, 0, 0.7);
  width: 63%;
  height: 130%;
  text-align: center;
  opacity: 1;
  transition: .3s;
  @include mq("sm") {
    margin: 12% 0 0 30%;
    width: 55%;
    height: 140%;
  }
  a {
    text-decoration: none;
    color: rgb(0, 162, 255);
  }
  .box1 {
    display: block;
    margin: 0%;
    padding: 0%;
    font-family: "Yuji Syuku", serif;
    @include mq("sm") {
      margin-top: 10%;
    }
    h2 {
      font-size: 1.5em;
      color: rgb(212, 14, 153);
      @include mq("sm") {
        font-size: 1.3em;
      }
    }
    p {
      font-size: 1.2em;
      color: white;
      margin-bottom: 5%;
      @include mq("sm") {
        font-size: 1em;
        margin-bottom: 15%;
      }
    }
  }
  .box2 {
    display: block;
    margin: 0%;
    padding: 0%;
    font-family: "Yuji Syuku", serif;
    input {
      display: block;
    }
    #name,
    #email {
      width: 50%;
      margin: 3% 0 0% 27%;
      padding: 2% 2%;
      border-width: 0.3em;
      border-color: rgb(202, 74, 164);
      box-sizing: border-box;
      box-shadow: 1em;
      @include mq("sm") {
        width: 80%;
        margin: 3% 0 0 10%;
        border-width: 0.2em;
      }
    }
    #message {
      width: 50%;
      margin: 3% 0 5% 27%;
      padding: 5% 2%;
      border-width: 0.3em;
      border-color: rgb(202, 74, 164);
      box-sizing: border-box;
      box-shadow: 1em;
      @include mq("sm") {
        width: 80%;
        margin: 3% 0 0 10%;
        border-width: 0.2em;
      }
    }
    #submit {
      margin: 0% 0 0 45%;
      padding: 1%;
      background-color: rgb(0, 162, 255);
      width: 13%;
      border-radius: 75rem;
      box-sizing: border-box;
      cursor: pointer;
      color: white;
      @include mq("sm") {
        margin: 10% 0 0 34%;
        padding: 2%;
        width: 30%;
      }
      &:hover {
        color: black;
        background-color: darkcyan;
      }
    }
  }
}
#en {
  display: block;
  position: absolute;
  z-index: 5;
  margin: 11% 0 0 19%;
  padding: 1% 5%;
  background-color: rgba(0, 0, 0, 0.7);
  width: 60.5%;
  height: 130%;
  text-align: center;
  opacity: 0;
  transition: .3s;
  @include mq("sm") {
    margin: 12% 0 0 30%;
    width: 55%;
    height: 160%;
  }
  a {
    text-decoration: none;
    color: rgb(0, 162, 255);
  }
  .box1 {
    display: block;
    margin: 0%;
    padding: 0%;
    font-family: "Yuji Syuku", serif;
    @include mq("sm") {
      margin-top: 10%;
    }
    h2 {
      font-size: 1.5em;
      color: rgb(212, 14, 153);
      @include mq("sm") {
        font-size: 1.3em;
      }
    }
    p {
      font-size: 1.2em;
      color: white;
      margin-bottom: 5%;
      @include mq("sm") {
        font-size: 1em;
        margin-bottom: 15%;
      }
    }
  }
  .box2 {
    display: block;
    margin: 0%;
    padding: 0%;
    font-family: "Yuji Syuku", serif;
    input {
      display: block;
    }
    #name,
    #email {
      width: 50%;
      margin: 3% 0 0% 27%;
      padding: 2% 2%;
      border-width: 0.3em;
      border-color: rgb(202, 74, 164);
      box-sizing: border-box;
      box-shadow: 1em;
      @include mq("sm") {
        width: 80%;
        margin: 3% 0 0 10%;
        border-width: 0.2em;
      }
    }
    #message {
      width: 50%;
      margin: 3% 0 5% 27%;
      padding: 5% 2%;
      border-width: 0.3em;
      border-color: rgb(202, 74, 164);
      box-sizing: border-box;
      box-shadow: 1em;
      @include mq("sm") {
        width: 80%;
        margin: 3% 0 0 10%;
        border-width: 0.2em;
      }
    }
    #submit {
      margin: 0% 0 0 45%;
      padding: 1%;
      background-color: rgb(0, 162, 255);
      width: 13%;
      border-radius: 75rem;
      box-sizing: border-box;
      cursor: pointer;
      color: white;
      @include mq("sm") {
        margin: 10% 0 0 34%;
        padding: 2%;
        width: 30%;
      }
      &:hover {
        color: black;
        background-color: darkcyan;
      }
    }
  }
}
